<div th:fragment="resInclude" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/static/jeasyui/themes/cyan/easyui.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/jeasyui/themes/color.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/static/jeasyui/themes/icon.css}" type="text/css" />

    <link th:href="@{/static/css/basic.css}" rel="stylesheet" />
    <link th:href="@{/static/css/index.css}" rel="stylesheet" />
    <link th:href="@{/static/css/login.css}" rel="stylesheet" />

    <link th:href="@{/static/jeasyui/easyuiQuery.css}" rel="stylesheet" />

    <link th:href="@{/static/css/mapCommon.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/static/jeasyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/jeasyui/locale/easyui-lang-zh_CN.js}"></script>

    <script type="text/javascript" th:src="@{/static/js/echarts/echarts.min.js}"></script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fdv5gclnF2HSnNyKm4Dj3aVuLUGMLUZ1" ></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js" ></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js" ></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/InfoBox/1.2/src/InfoBox_min.js" ></script>
    <script type="text/javascript" th:src="@{/static/js/baiduMapCommon.js}" ></script>

    <script type="text/javascript" th:src="@{/static/js/prototypeExpand.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/ticcCommon.js}"></script>
    <script type="text/javascript" th:src="@{/static/jeasyui/ticcFrameCommon.js}"></script>

</div>
