<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/commonHead :: common_header(~{::title},~{})">
    <title>系统角色</title>
</head>
<body>
<div th:switch="${oprt}" style="width:100%;height: 100%;">
    <div th:case="'query'" th:include="frame/sysRoleQuery :: sysRoleQuery" style="width:100%;height: 100%;">
    </div>
    <div th:case="*">
        <form id="sysRoleForm" method="post">
            <table style="margin: 0 auto;">
                <tbody>
                <td colspan="2">
                    <label id="retMsg" style="display:block;text-align: center;color: #FF0000" th:inline="text">[[${retMsg}]]</label>

                    <input name="roleId" th:value="${obj.roleId}" type="hidden"/>
                </td>
                <div th:switch="${oprt}">
                    <div th:case="'add'">
                        <tr>
                            <th><label >角色名:</label></th>
                            <td><input name="roleName" th:value="${obj.roleName}" class="easyui-textbox easyui-validatebox" missingMessage="角色名不能为空" data-options="required:true"/></td>
                        </tr>
                        <tr>
                            <th><label >备注:</label></th>
                            <td>
                                <textarea name="remark" cols="22" rows="4" th:inline="text">[[${obj.remark}]]</textarea>
                            </td>
                        </tr>
                    </div>
                    <div th:case="'update'">
                        <tr>
                            <th><label >角色编号:</label></th>
                            <td><input name="roleNo" th:value="${obj.roleNo}" class="easyui-textbox easyui-validatebox" disabled="disabled"/></td>
                        </tr>
                        <tr>
                            <th><label >角色名:</label></th>
                            <td><input name="roleName" th:value="${obj.roleName}" class="easyui-textbox easyui-validatebox" missingMessage="角色名不能为空" data-options="required:true"/></td>
                        </tr>
                        <tr>
                            <th><label >记录状态:</label></th>
                            <td>
                                <select name="useStatus" class="easyui-combobox" style="width:170px;">
                                    <option th:value="'00'" th:selected="${obj.useStatus == '00'}" >禁用</option>
                                    <option th:value="'01'" th:selected="${obj.useStatus == '01'}" >可用</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label >创建时间:</label></th>
                            <td><input name="createTime" th:value="${#dates.format(obj.createTime, 'yyyy-MM-dd HH:mm:ss')}" class="easyui-datetimebox" disabled="disabled"/></td>
                        </tr>
                        <tr>
                            <th><label >备注:</label></th>
                            <td>
                                <textarea name="remark" cols="22" rows="4" th:inline="text">[[${obj.remark}]]</textarea>
                            </td>
                        </tr>
                    </div>
                    <div th:case="'queryDetail'">
                        <tr>
                            <th><label >角色编号:</label></th>
                            <td><input name="roleNo" th:value="${obj.roleNo}" class="easyui-textbox easyui-validatebox"/></td>
                        </tr>
                        <tr>
                            <th><label >角色名:</label></th>
                            <td><input name="roleName" th:value="${obj.roleName}" class="easyui-textbox easyui-validatebox"/></td>
                        </tr>
                        <tr>
                            <th><label >记录状态:</label></th>
                            <td>
                                <select name="useStatus" class="easyui-combobox" style="width:170px;">
                                    <option th:value="00" th:selected="${obj.useStatus == '00'}" >禁用</option>
                                    <option th:value="01" th:selected="${obj.useStatus == '01'}" >可用</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label >创建时间:</label></th>
                            <td><input name="createTime" th:value="${#dates.format(obj.createTime,'yyyy-MM-dd HH:mm:ss')}" class="easyui-datetimebox"/></td>
                        </tr>
                        <tr>
                            <th><label >备注:</label></th>
                            <td>
                                <textarea name="remark" cols="22" rows="4" th:inline="text">[[${obj.remark}]]</textarea>
                            </td>
                        </tr>
                    </div>
                    <div th:case="'setAuthoritye'">
                        <tr>
                            <td>
                                <input name="roleNo" th:value="${obj.roleNo}" type="hidden"/>
                            </td>
                        </tr>
                        <tr>
                            <th><label >角色名:</label></th>
                            <td><input name="roleName" th:value="${obj.roleName}" class="easyui-textbox easyui-validatebox" disabled="disabled"/></td>
                        </tr>
                        <tr>
                            <th><label >拥有的权限:</label></th>
                            <td>
                                <ul id="authorityeTree" style="height: 100%;width: 100%;"></ul>
                                <input name="sysMenuNos" value="" type="hidden"/>
                                <!--<input id="roles" class="easyui-combobox" />-->
                            </td>
                        </tr>
                    </div>
                </div>
                <tr>
                    <td colspan="2" style="text-align: center;padding-top: 5px">
                        <a id="submitForm" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
                        <a id="resetForm" class="easyui-linkbutton" data-options="iconCls:'icon-undo'">重置</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <script type="text/javascript" th:replace="common/fragment :: commonVar"></script>
        <script type="text/javascript" th:inline="javascript">
            $(function () {

                var oprt = [[${oprt }]];

                //获取表单对象
                var $sysRoleForm = $("#sysRoleForm");

                if(oprt == "queryDetail"){
                    $sysRoleForm.find(":input").attr("disabled",true);
                    $sysRoleForm.find("a").attr("disabled",true);
                }

                if(oprt == "setAuthoritye"){

                    var $authorityeTree = $('#authorityeTree');

                    //权限树
                    $authorityeTree.tree({
                        url:basePath+'/sysMenu/getComboTree',
                        checkbox: true,
                        animate: true,
                        lines: true,
                        cascadeCheck:false,
                        queryParams: {'sysMenuCustom.parentNo':'0','sysMenuCustom.useStatus':'01'},
                        onBeforeExpand: function (node) {

                        },
                        onBeforeCheck: function (node, checked) {
                        },
                        onCheck: function(node,checked) {
                        },
                        onLoadSuccess: function(node,data) {
                            var jsonObj = [[${jsonObj}]];
                            var trees = JSON.parse(jsonObj).sysMenuSysRoles;
                            for (var i = 0, len = trees.length; i < len; i++){
                                var node = $authorityeTree.tree('find', trees[i].sysMenuNo);

                                //判断是否是叶子节点
//                                if ($authorityeTree.tree('isLeaf',node.target)){
//                                    $authorityeTree.tree('check',node.target);
//                                }
                                //因为取消了级联选中
                                $authorityeTree.tree('check',node.target);

//                                node.checked = 'checked';

                            }

                        }
                    });
                }

                $sysRoleForm.form({

                    url:basePath+'/sysRole/'+oprt,
                    onSubmit: function(param){
                        //获取选中的权限
                        if(oprt == "setAuthoritye"){
                            var nodes =  $authorityeTree.tree('getChecked',['checked','indeterminate']);


                            var sysMenuNos = [];
                            for (var i = 0, len = nodes.length; i < len; i++){
                                sysMenuNos.push(nodes[i].id);
//                                console.log("id:"+nodes[i].id);
                            }
                            $('input[name=sysMenuNos]').val(sysMenuNos);
                        }
                        var isValid = $(this).form('validate');
                        if (!isValid){
                            $('#retMsg').html("表单校验不通过");
                        }
                        return isValid;	// 返回false终止表单提交
                    },
                    success:function(data){
                        data = JSON.parse(data);
                        $('#retMsg').html(data.msg);
                    }
                });
                $('#submitForm').on('click',function () {
                    if ($(this).linkbutton('options').disabled == false) {
                        $sysRoleForm.form('submit');
                    }
                });
                $('#resetForm').on('click',function () {
                    if ($(this).linkbutton('options').disabled == false) {
                        $sysRoleForm.form('reset');
                    }
                });

            });

        </script>
    </div>
</div>

</body>
</html>