/*顶部*/
/*
header.top{
    min-width: 1366px;
    width: 100%;
    height: 50px;
    background-color: #607377;
    vertical-align: middle;
    line-height: 50px;
    padding: 10px;
}
header.top img{
    width: 50px;
    height: 50px;
    display:inline-block;
    vertical-align:middle;
}
header.top b{
    margin-left: 8px;
    font-size: 28px;
    display:inline-block;
    vertical-align:middle;
}
header.top div.operateDiv{
    float: right;
    margin-right: 50px;
}
header.top div.operateDiv a{
    text-decoration: none;
    font-size: 14px;
}*/
